* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/delivery';
@import './blocks/personnel';
@import './blocks/catalog';
@import './blocks/scheme';
@import './blocks/feed';
@import './blocks/questions';
@import './blocks/footer';