.personnel-up {
    min-height: 320px;
    background: url(../../img/bdg/personnel-up-bgd.jpg) center (center/cover) no-repeat;
    padding: 58px 0 75px 0;
}
.personnel-down {
    min-height: 342px;
    background: url(../../img/bdg/personnel-down-bgd.jpg) center (center/cover) no-repeat;
    padding: 58px 0 76px 0;
}